@model WebStore.Models.ViewModels.UserRegisterVM

<h1>User Profile</h1>

<form method="post" action="/Account/UpdateProfile">
    <div>
        <label for="FirstName">First Name</label>
        <input type="text" id="FirstName" name="FirstName" value="@Model.FirstName" />
    </div>
    <div>
        <label for="LastName">Last Name</label>
        <input type="text" id="LastName" name="LastName" value="@Model.LastName" />
    </div>
    @*<div>
        <label for="Email">Email</label>
        <input type="email" id="Email" name="Email" value="@Model.Email" />
    </div>*@
    <div>
        <label for="StreetName">Street Name</label>
        <input type="text" id="StreetName" name="StreetName" value="@Model.StreetName" />
    </div>
    <div>
        <label for="PostalCode">Postal Code</label>
        <input type="text" id="PostalCode" name="PostalCode" value="@Model.PostalCode" />
    </div>
    <div>
        <label for="City">City</label>
        <input type="text" id="City" name="City" value="@Model.City" />
    </div>
    <button type="submit">Save Changes</button>
</form>