@model IEnumerable<WebStore.Models.ProductEntity>

@{
    ViewData["Title"] = "Index";
}
<div class="admin-collection-status">
    <h4>Collection Status Overview</h4>
    <p>The system supports the following collection statuses:</p>
    <ul>
        <li><strong>Top Collection:</strong> Products that are featured in the top collection.</li>
        <li><strong>Up To Sale:</strong> Products that are currently available for sale.</li>
        <li><strong>Top Selling:</strong> Products that are the top-selling items.</li>
    </ul>
    <p>Make sure to assign the appropriate status to each product for effective management.</p>
    <p>If no statues is given, the product gets a defaultstatus.</p>
</div>

<section class="container-fluid pt-5">
    <table class="table mt-5 pt-5">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CollectionStatus)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CollectionStatus)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

      


       

        

        
<p>
    <a asp-action="Create">Create New</a>
</p>

   
